# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../cit244\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../:\Personal\ccac\cit244\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
